# CLASS 8

In [19]:
sett = {22,33,44,44,33,22}

In [20]:
sett

{22, 33, 44}

In [29]:
alist = [1,2,3,5,6,4,8,6,2,(1,2,3,5,6)]

In [30]:
aset = set(alist)

In [31]:
dic = {'students':['usama','hasan','razzak'],'marks':[75,85,95]}

In [32]:
dic

{'students': ['usama', 'hasan', 'razzak'], 'marks': [75, 85, 95]}

In [55]:
listed= [{"keys":[1,2,3,4,5]},
         {"keys2":[11,22,333,44,55]},
         {"keys3":[111,222,333,444],"newList":[100,1000]}]

In [56]:
listed[2]

{'keys3': [111, 222, 333, 444], 'newList': [100, 1000]}

In [57]:
listed[2]["newList"][1]

1000

In [58]:
listed[0]

{'keys': [1, 2, 3, 4, 5]}

In [59]:
listed

[{'keys': [1, 2, 3, 4, 5]},
 {'keys2': [11, 22, 333, 44, 55]},
 {'keys3': [111, 222, 333, 444], 'newList': [100, 1000]}]

In [60]:
listed[2]["newList"].append(10000)

In [61]:
listed

[{'keys': [1, 2, 3, 4, 5]},
 {'keys2': [11, 22, 333, 44, 55]},
 {'keys3': [111, 222, 333, 444], 'newList': [100, 1000, 10000]}]

In [65]:
alist= [1,2,3,4,5,6]

In [67]:
alist.remove(3)

In [68]:
alist

[1, 2, 4, 5, 6]

In [69]:
alist[3]

5

In [70]:
alist.remove(5)

In [71]:
alist

[1, 2, 4, 6]

In [72]:
listed

[{'keys': [1, 2, 3, 4, 5]},
 {'keys2': [11, 22, 333, 44, 55]},
 {'keys3': [111, 222, 333, 444], 'newList': [100, 1000, 10000]}]

In [75]:
for i in listed[2]["keys3"]:
    print (i)

111
222
333
444

In [83]:
def sum():
    print(10+20)
a=sum()
a

30

In [79]:
sum()

30

In [82]:
a = sum()

30

In [84]:
a

In [85]:
sum()

30

In [86]:
def sum():
    print(10+20)
sum()

30

In [93]:
def add(val1,val2):#parameters
    
    
    c= val2+val1
    return c

In [94]:
add(1,2) #argument

3

In [95]:
def add(val1,val2):#parameters
    
    
    c= val1+val2
    return c

In [98]:
add(2,7)

9

In [100]:
def even(a):
    if(a%2==0):
        return ("Number is even")
    else:
        return ("number is odd")

In [101]:
even(8)

'Number is even'

In [102]:
def even(a):
    if(a%2==0):
        print ("Number is even")
    else:
        print ("number is odd")

In [103]:
even(7)

number is odd

In [104]:
a = even(7)

number is odd

In [105]:
a

In [106]:
even(0)

Number is even

In [110]:
def namedefine(name,fname): #positional argument
    print(name+ " "+ fname)
    
    
    
namedefine("Usama","Yaseen")

Usama Yaseen

In [113]:
def namedefine(name,fname): #keyword argument
    print(name+ " "+ fname)
    
    
    
namedefine(fname="Yaseen",name="Usama")

Usama Yaseen

In [116]:
def fullname(firstName,middleName="", lastName=""):
    print(firstName+" "+middleName+ " "+lastName)

In [118]:
fullname(firstName= "usama")

usama

In [120]:
def fullname(middleName="", lastName="",firstName,):
    print(middleName+ " "+lastName+" "+firstName)

SyntaxError: non-default argument follows default argument (<ipython-input-120-7ef8d6e25b26>, line 1)

In [121]:
# This function subtracts two numbers 
def subtract(x, y):
   return x - y
# This function multiplies two numbers
def multiply(x, y):
   return x * y
# This function divides two numbers
def divide(x, y):
   return x / y
print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")
# Take input from the user 
choice = input("Enter choice(1/2/3/4): ")
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
if choice == '1':
   print(num1,"+",num2,"=", add(num1,num2))
elif choice == '2':
   print(num1,"-",num2,"=", subtract(num1,num2))
elif choice == '3':
   print(num1,"*",num2,"=", multiply(num1,num2))
elif choice == '4':
   print(num1,"/",num2,"=", divide(num1,num2))
else:
   print("Invalid input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 3
Enter first number: 8
Enter second number: 4
8.0 * 4.0 = 32.0

In [ ]:
def addition (a,b):
    return a + b
def subtraction (a,b):
    return a - b
def multiply (a,b):
    return a * b
def divided (a,b):
    return a / b

print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")