In [1]:
print ("Hello World!")

Hello World!

In [2]:
message = ("Hello python world!")
print (message)

Hello python world!

In [3]:
message = ("Hello python world!")
message

'Hello python world!'

In [4]:
message = ("Hello python crash course practice")
message

'Hello python crash course practice'

In [5]:
print (message)

Hello python crash course practice

In [7]:
message = "What's up?"
message

"What's up?"

In [8]:
name = 'usama ahmed'
print (name.title())

Usama Ahmed

In [9]:
print(name.upper())

USAMA AHMED

In [10]:
print(name.lower())

usama ahmed

In [15]:
first_name = 'Usama'
last_name = 'Ahmed'
full_name = 'first_name' + ' ' + 'last_name'
full_name

'first_name last_name'

In [16]:
print ("\tUsama")

	Usama

In [17]:
print ("\t\tusama")

		usama

In [20]:
print("usama\nnajeeb\nhasan".upper())

USAMA
NAJEEB
HASAN

In [23]:
name = "usama ".rstrip() # to eleminate whitespace

In [24]:
name

'usama'

In [25]:
famous_quote = ("Albert Einstein once said, “A person who never made a mistake never tried anything new.”")
famous_quote

'Albert Einstein once said, “A person who never made a mistake never tried anything new.”'

In [29]:
number= 3**3

In [27]:
number

27

In [30]:
number = 2*0.1
number

0.2

In [31]:
number = 3*0.1
number

0.30000000000000004

In [33]:
fav_number=8
fav_number

8

In [34]:
8

8

In [2]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])
print(bicycles[3])

trek
specialized

In [3]:
friends = ["Hasan", "Bilal", "Najeeb", "Hasib"]

In [6]:
friends[0]
friends[1]
friends[2]
friends[3]

'Hasib'

In [9]:
print (friends[0])
print (friends[1])
print (friends[2])
print (friends[3])

Hasan
Bilal
Najeeb
Hasib

In [10]:
print ("How are you " + friends[0] + "?")

How are you Hasan?

In [11]:
print ("How are you " + friends[1] + "?")

How are you Bilal?

In [12]:
print ("How are you " + friends[2] + "?")

How are you Najeeb?

In [13]:
print ("How are you " + friends[3] + "?")

How are you Hasib?

In [22]:
friends.pop()

IndexError: pop from empty list

In [23]:
friends

[]

In [24]:
friends

[]

In [25]:
numbers = [1,2,3,4,5,6,7,8,9]

In [26]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
numbers.pop(5)

6

In [28]:
numbers

[1, 2, 3, 4, 5, 7, 8, 9]

In [30]:
numbers.pop(-1)

9

In [31]:
numbers

[1, 2, 3, 4, 5, 7, 8]

In [32]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print("\nA " + too_expensive.title() + " is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [39]:
invited_persons = ["Haseeb" , "Razzak" , "Umer" , "Faizan"]

In [19]:
invited_persons = ["Haseeb" , "Razzak" , "Umer" , "Faizan"]
print ("You are invited on dinner " + invited_persons[0])
print ("You are invited on dinner " + invited_persons[1])
print ("You are invited on dinner " + invited_persons[2])
print ("Haseeb can't attend the dinner")
new_person = input("\nEnter new person ")
print ("You are invited on dinner " + new_person)
print ("You are invited on dinner " + invited_persons[1])
print ("You are invited on dinner " + invited_persons[2])
print ("You are invited on dinner " + invited_persons[3])
invited_persons = ["Haseeb", "Razzak", "Umer", "Faizan"]
print ("More guest can join now")

new_invited_persons= invited_persons.insert(0,"Faizan")
new_invited_persons=invited_persons.insert(2,"Salman")
new_invited_persons=invited_persons.append("Ahmed")

print ("\nThese are the final persons")
print (invited_persons )
print ("\nYou can Invite only two people for dinner")
invited_persons.pop()
print ("\nSorry about that Ahmed")
print (invited_persons)
invited_persons.pop()
print ("\nSorry about that Faizan")
print (invited_persons)
invited_persons.pop()
print ("\nSorry about that Umer")
print (invited_persons)
invited_persons.pop()
print ("\nSorry about that Razzak")
print (invited_persons)
invited_persons.pop()
print ("\nSorry about that Salman")
print ("\nYou are still invited", invited_persons)
del invited_persons[0]
print (invited_persons)
del invited_persons[0]
print (invited_persons)

You are invited on dinner Haseeb
You are invited on dinner Razzak
You are invited on dinner Umer
Haseeb can't attend the dinner

Enter new person Majid
You are invited on dinner Majid
You are invited on dinner Razzak
You are invited on dinner Umer
You are invited on dinner Faizan
More guest can join now

These are the final persons
['Faizan', 'Haseeb', 'Salman', 'Razzak', 'Umer', 'Faizan', 'Ahmed']

You can Invite only two people for dinner

Sorry about that Ahmed
['Faizan', 'Haseeb', 'Salman', 'Razzak', 'Umer', 'Faizan']

Sorry about that Faizan
['Faizan', 'Haseeb', 'Salman', 'Razzak', 'Umer']

Sorry about that Umer
['Faizan', 'Haseeb', 'Salman', 'Razzak']

Sorry about that Razzak
['Faizan', 'Haseeb', 'Salman']

Sorry about that Salman

You are still invited ['Faizan', 'Haseeb']
['Haseeb']
[]

In [29]:
b = ['9','8','5','2','1','0']
b

['9', '8', '5', '2', '1', '0']

In [30]:
b.sort()
b

['0', '1', '2', '5', '8', '9']

In [23]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [31]:
cars.sort(reverse=True)

In [32]:
cars

['toyota', 'subaru', 'bmw', 'audi']

In [33]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print("Here is the original list:")
print(cars)
print("\nHere is the sorted list:")
print(sorted(cars))
print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [35]:
len(cars)

4

In [43]:
locations = ['site area','malir','garde','guromandir']
print (locations)
print (sorted(locations))
print (locations)
print (locations.sorted(reverse=True))

['site area', 'malir', 'garde', 'guromandir']
['garde', 'guromandir', 'malir', 'site area']
['site area', 'malir', 'garde', 'guromandir']

AttributeError: 'list' object has no attribute 'sorted'

In [12]:
friends = ['Salman', 'Jawwad', 'Razzak']
for friend in friends:
    print (friend.title() + ", you are a good friend.")
    print ("I can't wait to see you next time " + friend + "\n")

Salman, you are a good friend.
I can't wait to see you next time Salman

Jawwad, you are a good friend.
I can't wait to see you next time Jawwad

Razzak, you are a good friend.
I can't wait to see you next time Razzak

In [13]:
message = "Hello Python world!"
print(message)

Hello Python world!

In [5]:
pizzas = ['Tikka', 'Fajita', 'BBQ']
for pizza in pizzas:
    print ("I like this flv very much " + pizza)
print ("\n")
print ("Feed back:")
print ("What kind of pizza you like ")
print (input(""))
print ("I really love pizza")

I like this flv very much Tikka
I like this flv very much Fajita
I like this flv very much BBQ


Feed back:
What kind of pizza you like
spicey
spicey
I really love pizza

In [6]:
for value in range(1,6):
    print (value)

1
2
3
4
5

In [7]:
even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [8]:
odd_numbers = list(range(1,11,2))
print(odd_numbers)

[1, 3, 5, 7, 9]

In [9]:
squares = []
for value in range(1,11):
    squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
squares = []
for value in range(1,11):
        square = value**2
        squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
digits = [1,2,34,4,5,6,9,8,87,5]

In [14]:
min(digits)

1

In [15]:
max(digits)

87

In [16]:
sum(digits)

161

In [17]:
squares = [value**2 for value in range(1,11)] #list comprehension
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:

for value in table:
    range (2,21,2)
print (value)

10

In [21]:
even_numbers = list(range(2,21,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [28]:
cubes = []
for value in range(1,11):
    
    cubes.append(cube)
print (cubes)

[8, 8, 8, 8, 8, 8, 8, 8, 8, 8]

In [24]:
squares = [value**3 for value in range(1,11)] #list comprehension
print(squares)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]